<table border='1'>
<tr>
<th>Class name</th>
<th>Method name</th>
<th>Groups</th>
</tr><tr>
<td>stepdefinitions.Steps</td>
<td>&nbsp;</td><td>&nbsp;</td></tr>
<tr>
<td align='center' colspan='3'>@Test</td>
</tr>
<tr>
<td>&nbsp;</td>
<td>click_on_Go_button</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>enter_countDown_time_in_the_Start_a_timer_textbox</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>feature</td>
<td>cucumber </td>
</tr>
<tr>
<td>&nbsp;</td>
<td>navigate_to_Timer_Application</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>verify_the_countdown</td>
<td>&nbsp;</td></tr>
<tr>
<td align='center' colspan='3'>@BeforeClass</td>
</tr>
<tr>
<td>&nbsp;</td>
<td>setUpClass</td>
<td>&nbsp;</td></tr>
<tr>
<td align='center' colspan='3'>@BeforeMethod</td>
</tr>
<tr>
<td align='center' colspan='3'>@AfterMethod</td>
</tr>
<tr>
<td align='center' colspan='3'>@AfterClass</td>
</tr>
<tr>
<td>&nbsp;</td>
<td>tearDownClass</td>
<td>&nbsp;</td></tr>
</table>
