<h2>Methods run, sorted chronologically</h2><h3>&gt;&gt; means before, &lt;&lt; means after</h3><p/><br/><em>Default suite</em><p/><small><i>(Hover the method name to see the test class name)</i></small><p/>
<table border="1">
<tr><th>Time</th><th>Delta (ms)</th><th>Suite<br>configuration</th><th>Test<br>configuration</th><th>Class<br>configuration</th><th>Groups<br>configuration</th><th>Method<br>configuration</th><th>Test<br>method</th><th>Thread</th><th>Instances</th></tr>
<tr bgcolor="a9e4eb">  <td>19/06/28 23:32:17</td>   <td>0</td> <td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;AbstractTestNGCucumberTests.setUpClass()[pri:0, instance:stepdefinitions.Steps@6236eb5f]">&gt;&gt;setUpClass</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@1047460013</td>   <td></td> </tr>
<tr bgcolor="a9e4eb">  <td>19/06/28 23:32:18</td>   <td>539</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="AbstractTestNGCucumberTests.feature(cucumber.api.testng.CucumberFeatureWrapper)[pri:0, instance:stepdefinitions.Steps@6236eb5f]">feature</td> 
  <td>main@1047460013</td>   <td></td> </tr>
<tr bgcolor="7ef87a">  <td>19/06/28 23:33:09</td>   <td>51523</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="Steps.click_on_Go_button()[pri:0, instance:stepdefinitions.Steps@6236eb5f]">click_on_Go_button</td> 
  <td>main@1047460013</td>   <td></td> </tr>
<tr bgcolor="7ef87a">  <td>19/06/28 23:33:19</td>   <td>61559</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="Steps.enter_countDown_time_in_the_Start_a_timer_textbox()[pri:0, instance:stepdefinitions.Steps@6236eb5f]">enter_countDown_time_in_the_Start_a_timer_textbox</td> 
  <td>main@1047460013</td>   <td></td> </tr>
<tr bgcolor="7ef87a">  <td>19/06/28 23:33:29</td>   <td>71587</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="Steps.navigate_to_Timer_Application()[pri:0, instance:stepdefinitions.Steps@6236eb5f]">navigate_to_Timer_Application</td> 
  <td>main@1047460013</td>   <td></td> </tr>
<tr bgcolor="7ef87a">  <td>19/06/28 23:33:42</td>   <td>84931</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="Steps.verify_the_countdown()[pri:0, instance:stepdefinitions.Steps@6236eb5f]">verify_the_countdown</td> 
  <td>main@1047460013</td>   <td></td> </tr>
<tr bgcolor="a9e4eb">  <td>19/06/28 23:33:42</td>   <td>84954</td> <td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;AbstractTestNGCucumberTests.tearDownClass()[pri:0, instance:stepdefinitions.Steps@6236eb5f]">&lt;&lt;tearDownClass</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@1047460013</td>   <td></td> </tr>
</table>
